
.banner-card{
    width: 312px;
    align-self: flex-start;
    margin-left: 250px;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.banner-card p {
    margin-top: 0;
    padding: 0;
    margin-bottom: 20px;
}
.banner-card div{
    margin-left: 20px;
}

.banner-card img{
    width: 272px;
    height: 300px;
    margin: 0;
    padding: 0;
}

.price{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: end;
    height: 24px;

}

.price p {
    font-size: 24px;
    font-weight: 700;
    color: black;
    margin: 0;
    padding: 0;
}

.cross-text{
    margin-bottom: 1px!important;
    text-decoration: line-through #454545;
    color: #454545!important;
    font-size: 20px!important;
    align-self: self-end;
}

.banner-card button{
    margin-left: 20px;
    width: 255px;
    border: none;
    color: #EFEFEF;
    background-color: #3865F8;
    font-size: 16px;
    height: 55px;
    text-align: center;
    border-radius: 8px;
    transition: 0.7s ease;
    position: relative;
    z-index: 10;
}

.banner-card button:hover{
    transition: 0.7s ease;
    color: #3865F8;
    background-color: #EFEFEF;

}
.slick-slide {
    pointer-events: auto;
}
