
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


*{
    scrollbar-width: none;
}
body {
    scrollbar-width: none;
    font-family: "Manrope", sans-serif;
}